#sectionOne {
	font-weight: bold;
}

#sectionThree {
	font-weight: bold;
	font-style: italic;
}

#buttons {
    display: block;
}

#guinea-pig {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;    
}
